@media screen and (min-width:1024px) {
    
    header
    {
        display: flex;
        justify-content: space-between;

        margin-top: 50px;
    }

    header #logo
    {
        margin: 0;
    }

    header
    {
        margin-top: 0;
    }
    header #logo 
    {
        padding-top: 50px;
    }
    header nav ul li {
        padding-top: 50px;
    }
    header nav ul li:not(#connection):hover {
        border-top: 1px solid var(--main-color);
    }
    header nav ul:not(:hover) li:first-child {
        border-top: 1px solid var(--main-color);
    }
    nav ul li input:checked ~ li
    {
        border-top: 1px solid var(--main-color);
    }

    header nav ul
    {
        margin: 0;
    }

    header nav ul li label
    {
        border-bottom: none;
        min-width: 200px;
    }

    header nav ul li:not(#connection)
    {
        margin-right: 70px;
    }

    header nav ul li#connection
    {
        position: initial;
    }
}