@media screen and (min-width:1440px) {
    
    header
    {
        display: flex;
        justify-content: space-between;

        margin-top: 50px;
    }

    header #logo
    {
        margin: 0;
    }

    header nav ul
    {
        margin: 0;
    }

    header nav ul li label
    {
        border-bottom: none;
    }

    header nav ul li:not(#connection)
    {
        margin-right: 70px;
    }

    header nav ul li#connection
    {
        position: initial;
    }
}