header
{
    margin-top: 25px;
    font-size: 16px;
}


header #logo
{
    width: 95px;
    margin-left: 21px;
}

header nav ul
{
    display: flex;

    margin: 40px 0 0 0;
    padding: 0;

    cursor: pointer;
    list-style: none;
}

header nav ul li:not(#connection)
{
    width: 50%;
    text-align: center;
}

header nav ul li:not(#connection):hover a
{
    color: var(--main-color) !important;
}



header nav ul li#connection
{
    width: auto;

    position: absolute;
    right: 21px;
    top: 42px;

    color: var(--main-color);
    font-weight: bold;
}



header nav ul li label
{
    width: 100%;
    display: inline-block;

    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 13px;

    cursor: pointer;
}

header nav ul li label:hover, header nav ul li input:checked ~ label
{
    color: var(--main-color) !important;
    border-bottom-color: var(--main-color);
}