@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

:root
{
    --main-color: #0065FC;
    --main-light-color: #DEEBFF;

    --secondary-color: #F2F2F2;
}

body
{
    font-family: "Raleway";

    margin: 0;
    top: 0;
    left: 0;
}

a
{
    color: black;
    text-decoration: none;
}